{
    "dump1090_host": "localhost",
    "dump1090_port": 30003,

    "home_lat": 0,
    "home_lon": 0,
    "home_range": 750,

    "persistence_base_dir": "./persisted",
    "persistence_save_interval": 60000,

    "telegram_token": "Retrieved from Botfather"
}
